.flexbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flexbox-item {
  margin: auto;
  align-self: center;
  width: 100%;
}

h3 {
  text-align: left;
}

p {
  text-align: center;
}
